html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#root {
  width: 100%;
}

/* Background default (selain HeroSection & FooterSection yang punya style sendiri) */
body {
  background: #000;
}


